@page "/flexBox"
<h3><b>Статьи</b></h3>


<div class="MyContainer">
    <div class="myCard">
        <div class="myCardHeader">
            <img class="class" src="https://iv.kommersant.ru/Issues.photo/LifeStyle_Online/2021/05/12/KLS_001296_00184_1_t222_162756.jpg" />
            
        </div>
        <div class="myCardBody">
            <img class="Gg" 
                 src="https://iv.kommersant.ru/Issues.photo/LifeStyle_Online/2021/05/12/KLS_001296_00184_1_t222_162756.jpg" />
            <p>Дитя 90-х<br/>
                11k смотрели </p>
        </div>
        <div class = "text">
            <p>Фанаты о сих пор ломают копья правда или вымысел то, что произошло с главным героем картины, но, по сути, это уже и не столь важно. Главное в «Психопате» ... </p>
            
        </div>
        <div class="myCardBottom">
            
            <div class="MyBtn">
                <a href="https://pikabu.ru/story/detali_i_obyasnenie_filma_amerikanskiy_psikhopat_vsyo_taki_realnost_ili_voobrazhenie_8495984">Перейти</a>
            </div>
        </div>
    </div>
    
    <div class="myCard">
        <div class="myCardHeader">
            <img class="class" src="https://img18.rl0.ru/afisha/e375x235p80x0f1659x1040q85i/s1.afisha.ru/mediastorage/d0/0a/3b9cea8d99bc4e6a953c97940ad0.png" />

        </div>
        <div class="myCardBody">
            <img class="Gg"
                 src="https://iv.kommersant.ru/Issues.photo/LifeStyle_Online/2021/05/12/KLS_001296_00184_1_t222_162756.jpg" />
            <p>Водитель по губам<br/>
                12k смотрели </p>
        </div>
        <div class = "text">
            <p> Ещё одна картина Дэвида Линча – блестящая головоломка, над разгадкой которой многие поклонники бьются и сегодня. Фирменный парад актеров, ускользающая нить основной интриги </p>

        </div>
        <div class="myCardBottom">

            <div class="MyBtn">
                <a href="https://artforintrovert.ru/magazine/tpost/v39pc5ych1-o-chyom-na-samom-dele-prizrak-v-dospehah">Перейти</a>
            </div>
        </div>
    </div>

    <div class="myCard">
        <div class="myCardHeader">
            <img class="class" src="https://img5tv.cdnvideo.ru/webp/shared/files/202311/1_1854004.jpg" />

        </div>
        <div class="myCardBody">
            <img class="Gg"
                 src="https://iv.kommersant.ru/Issues.photo/LifeStyle_Online/2021/05/12/KLS_001296_00184_1_t222_162756.jpg" />
            <p>Отченазес<br/>
                10k смотрели </p>
        </div>
        <div class = "text">
            <p> «Рождество наоборот», злой дед Мороз (ой, вернее похитивший Санту царь ужасов Джек Скеллингтон) – хотя картину снимал Генри Селик, а Тим Бёртон был лишь продюсером, сложно представить себе более
            </p>

        </div>
        <div class="myCardBottom">

            <div class="MyBtn">
                <a href="https://render.ru/ru/SmirnovSchool/post/20366">Перейти</a>
            </div>
        </div>
    </div>
    
        
    
   

    
</div>






@code {
    
}