@page "/spisok"
@model BlazorApp2.Components.Pages.spisok

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>
<ul>
    <li> <a href = "https://localhost:7152/"> ссылка на дом </a></li>
    <li> <a href="https://localhost:7152/counter">ссылка на прилавок </a></li>
    <li> <a href="https://localhost:7152/weather">ссылка на погоду</a></li>
</ul>